/* FLEXBOX controls position,size,spacing of elements */
/* Apply a display of type to parent element */
* {
  font-family: verdana;
  margin: 0;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background-color: #fff;
}
.box {
  height: 100px;
  min-width: 100px;
}
/* if there is available space in container use flex-grow on elements */
.one {
  background-color: red;
  flex-grow: 1;
}
.two {
  background-color: blue;
  flex-grow: 2;
}
.three {
  background-color: green;
  flex-grow: 3;
}
